* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aliceblue;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.p ul li {
    font-size: 20px;
    margin-top: 10px;
}