:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

:root {
  --background-color: #ffffff;
  --default-color: #272829;
  --heading-color: #050d18;
  --accent-color: #149ddd;
  --contrast-color: #ffffff;
}

:root {
  --nav-color: #a8a9b4;
  --nav-hover-color: #ffffff;
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #212529;
  --nav-dropdown-hover-color: #149ddd;
}

:root {
  --header-background-color: #040b14;
  --header-color: #ffffff;
}

:root {
  scroll-behavior: smooth;
}

/* General */
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* Global Header */

.header {
  --background-color: var(--header-background-color);
  --default-color: var(--header-color);
  --heading-color: var(--header-color);
  color: var(--default-color);
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 15px;
  width: 300px;
  transition: all ease-in-out 0.3s;
  overflow-y: auto;
  z-index: 997;
  border-right: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}

.header .profile-img img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid color-mix(in srgb, var(--default-color), transparent 85%);
}

.header .logo {
  line-height: 1;
  margin-bottom: 15px;
}

.header .logo img {
  max-height: 32px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 24px;
  margin: 0;
  font-weight: 700;
  color: var(--heading-color);
}

.header .social-links {
  margin: 0 0 20px 0;
}

.header .social-links a {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: color-mix(in srgb, var(--default-color), transparent 90%);
  color: var(--default-color);
  margin: 0 2px;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.header .social-links a:hover {
  color: var(--contrast-color);
  background: var(--accent-color);
}

@media (min-width: 1200px) {

  .header~main,
  .header~#footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .header {
    left: -100%;
  }
}

.header.header-show {
  left: 0;
}

.header .header-toggle {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;
  transition: background-color 0.3s;
}

.header .header-toggle:hover {
  color: var(--contrast-color);
  background-color: color-mix(in srgb, var(--accent-color) 90%, white 15%);
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
.mobile-nav-toggle {
  display: none;
}

.navmenu {
  padding: 0;
  z-index: 9997;
}

.navmenu ul {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0;
}

.navmenu a,
.navmenu a:focus {
  color: var(--nav-color);
  padding: 15px 10px;
  font-family: var(--nav-font);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: 0.3s;
  width: 100%;
}

.navmenu a .navicon,
.navmenu a:focus .navicon {
  font-size: 20px;
  margin-right: 10px;
}

.navmenu a .toggle-dropdown,
.navmenu a:focus .toggle-dropdown {
  font-size: 12px;
  line-height: 0;
  margin-left: auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
  flex-shrink: 0;
  background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
}

.navmenu a .toggle-dropdown:hover,
.navmenu a:focus .toggle-dropdown:hover {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.navmenu a:hover,
.navmenu .active,
.navmenu .active:focus {
  color: var(--nav-hover-color);
}

.navmenu a:hover .navicon,
.navmenu .active .navicon,
.navmenu .active:focus .navicon {
  color: var(--accent-color);
}

.navmenu .active .toggle-dropdown,
.navmenu .active:focus .toggle-dropdown {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  transform: rotate(180deg);
}

.navmenu .dropdown {
  display: block;
}

.navmenu .dropdown a,
.navmenu .dropdown a:focus {
  color: --nav-dropdown-color;
}

.navmenu .dropdown a:hover,
.navmenu .dropdown .active,
.navmenu .dropdown .active:focus {
  color: var(--nav-dropdown-hover-color);
}

.navmenu .dropdown ul {
  position: static;
  display: none;
  z-index: 99;
  padding: 5px 10px;
  margin: 5px 10px;
  background-color: var(--nav-dropdown-background-color);
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  box-shadow: none;
  transition: all 0.5s ease-in-out;
}

.navmenu .dropdown ul ul {
  background-color: rgba(33, 37, 41, 0.1);
}

.navmenu .dropdown>.dropdown-active {
  display: block;
  background-color: rgba(33, 37, 41, 0.03);
}

/*--------------------------------------------------------------
  # Global Footer
  --------------------------------------------------------------*/
.footer {
  --background-color: color-mix(in srgb, var(--default-color), transparent 97%);
  color: var(--default-color);
  background-color: var(--background-color);
  font-size: 14px;
  padding: 40px 0;
  position: relative;
}

.footer .credits {
  margin-top: 4px;
  font-size: 13px;
  text-align: center;
}

/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: var(--background-color);
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #ffffff;
  border-color: var(--accent-color) transparent var(--accent-color) transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1.5s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
  # Scroll Top Button
  --------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
  # Global Page Titles & Breadcrumbs
  --------------------------------------------------------------*/
.page-title {
  --background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 25px 0;
  position: relative;
}

.page-title h1 {
  font-size: 24px;
  font-weight: 700;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  overflow: clip;
}

/*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/
.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  bottom: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
.hero {
  --default-color: #ffffff;
  --background-color: #000000;
  --heading-color: #ffffff;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('assets/img/Yellow\ Vintage\ Summer\ Mood\ Photo\ Collage.png');
  background-size: cover;
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.hero:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 70%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h2 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  margin-top: 40px;
}

.hero p {
  margin: 5px 0 0 0;
  font-size: 26px;
}

.hero p span {
  letter-spacing: 1px;
  border-bottom: 2px solid var(--accent-color);
}

.hero .social-links {
  margin-top: 25px;
}

.hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

.hero .social-links a:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;

  }


  .hero p {
    font-size: 20px;
    margin-bottom: 80px;
  }
}

.hero img {
  background-image: url(assets/img/bf8e5f1aa7f3538476f02bfffa047d27.jpg);
  background-size: cover;
  height: auto;

}

/*--------------------------------------------------------------
  # About Section
  --------------------------------------------------------------*/

.about .content h2 {
  font-weight: 700;
  font-size: 24px;
}

.about .p1 {
  font-size: 22px;
  margin-top: 2vw;
}


.about .about-myself {
  font-size: 20px;
}

.about .about-myself .l1 {
  margin-top: 1.5vw;
}

.about .about-myself .li {
  margin-top: 1.5vw;
}

.about .about-myself .p2 {
  margin-top: 1vw;
  margin-left: 1vw;
}

.about .about-myself .p3 {
  margin-top: 1vw;
  margin-left: 1vw;
}


.about .about-button {
  display: flex;
  gap: 2vw;
  justify-content: center;
  margin-top: 5vw;


}

.about .about-button .btn-1 {
  padding: 8px 25px;
  border-radius: 23.04px;
  font-size: 18.432px;
  font-weight: bold;
  background-color: #4169E1;
  /* Royal Blue */
  text-decoration: none;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
  /* Smooth transition for hover effect */
}

.about .about-button .btn-1:hover {
  background-color: #6495ED;
  /* Lighter shade of blue for hover effect */
}


.about .about-button .btn-2 {
  padding: 8px 20px 8px 20px;
  border-radius: 23.04px;
  font-size: 18.432px;
  font-weight: bold;
  background-color: #DC143C;
  text-decoration: none;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

.about .about-button .btn-2:hover {
  background-color: #FF6347;
  /* Lighter shade of red for hover effect */
}


/*--------------------------------------------------------------
  # Skills Section
  --------------------------------------------------------------*/
.skills {
  --background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
}

.skills p {
  font-size: 3vw;
  font-weight: bolder;
}

.icons {
  margin-bottom: 3vw;
  display: flex;
  gap: 4vw 1.5vw;
  flex-wrap: wrap;
}


.icons .imgicon {
  width: 6vw;
  height: 6vw;
  background-color: aliceblue;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.icons img {
  width: 6vw;
  height: 6vw;
  transition: all;
}

.imgicon:hover {
  width: 7vw;
  height: 6.5;
}

@media only screen and (max-width: 768px) {

  .skills p {
    font-size: 7vw;
    font-weight: bolder;
  }

  .icons {
    margin-bottom: 3vw;
    display: flex;
    gap: 6vw 2.5vw;
    flex-wrap: wrap;
  }


  .icons .imgicon {
    width: 10vw;
    height: 10vw;
    background-color: aliceblue;
    border-radius: 4%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .icons img {
    width: 10vw;
    height: 10vw;
    transition: all;
  }

  .imgicon:hover {
    width: 7vw;
    height: 6.5;
  }

}

/*--------------------------------------------------------------
  # Portfolio Section
  --------------------------------------------------------------*/

.projects {
  --background-color: color-mix(in srgb, var(--accent-color), transparent 95%);
}

.work-sample {
  background-color: #1A2421;
  height: 80vh;
  border-radius: 20px;
  padding: 3vh;
  margin: 5px 25px 5px 25px;

}


.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.27vw, 1fr));
  grid-gap: 2.60vw;
  margin-top: 3vw;
}

.project {
  position: relative;
  overflow: hidden;
}

.project img {
  width: 85%;
  height: 90%;
  display: block;
  transition: transform 0.5s;
}

.link {
  width: 90%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2.60vw;
  text-align: center;
  font-size: 0.97vw;
  transition: height 0.5s;
}


.project:hover .link {
  height: 10%;
}

.link div {
  font-weight: bold;
  margin-bottom: 0.1vw;
  font-size: 1vw;
  color: whitesmoke;
}

.link p {
  font-size: 0.7vw;
  color: white;
}

.link a {
  text-decoration: none;
  font-size: 0.8vw;
  background: white;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link a i {
  color: #ff004f;

}

.link button {
  color: whitesmoke;
  margin-top: 1.30vw;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 6vw;
  padding: 0.2vw;
  border-radius: 5%;
  font-size: 0.75vw;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover .link {
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 11vw;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: black;
  margin: 15% auto;
  padding: 1.30vw;
  border: 1px solid #888;
  width: 60%;
  height: auto;
}

.modal-content h2 {
  color: white;
}

.modal-content p {
  line-height: 2vw;
  color: white;
}

/* The Close Button */
.close1 {
  color: whitesmoke;
  float: right;
  font-size: 1.82vw;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: beige;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: whitesmoke;
  float: right;
  font-size: 1.82vw;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: beige;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  color: whitesmoke;
  float: right;
  font-size: 1.82vw;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: beige;
  text-decoration: none;
  cursor: pointer;
}

.close4 {
  color: whitesmoke;
  float: right;
  font-size: 1.82vw;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color: beige;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .work-sample {
    height: auto;
  }

  .modal-content {
    width: 70%;
  }
}


@media (max-width: 768px) {
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .link {
    font-size: 12px;
  }

  .para {
    display: none;
  }

  .link div {
    font-size: 4vw;
  }



  .link a {
    width: 6vw;
    height: 6vw;
    font-size: 4vw;
  }

  .link button {
    width: 20vw;
    padding: 2vw;
    font-size: 3vw;
    margin-top: 50px;
  }

  .modal-content h2 {
    font-size: 20px;
  }

  .modal-content p {
    font-size: 20px;
    line-height: 5vw;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 5vw;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content {
    width: 90%;
    margin: 20% 0;
    padding: 5vw;
  }

  .close1,
  .close2,
  .close3,
  .close4 {
    font-size: 5vw;
  }
}


@media (max-width: 480px) {
  .work-sample {
    padding: 2vh;
    margin: 5px 10px;
  }

  .project-list {
    grid-template-columns: 1fr;
  }

  .link div {
    font-size: 6vw;
    margin-bottom: -20px;
  }



  .link a {
    width: 6vw;
    height: 6vw;
    font-size: 4vw;
    margin-top: 15px;
    
  }

  .link button {
    width: 15vw;
    padding: 1vw;
    font-size: 2vw;
    margin-bottom: 10px;
  }

  .modal-content {
    width: 90%;
    padding: 15px;
    margin: 20% auto;
  }

  .modal-content h2 {
    font-size: 18px;
  }

  .modal-content p {
    font-size: 12px;
  }

  .close1,
  .close2,
  .close3,
  .close4 {
    font-size: 24px;
  }
}


/*--------------------------------------------------------------
  # Contact Section
  --------------------------------------------------------------*/
.contact .info-wrap {
  box-shadow: 0px 0px 20px color-mix(in srgb, var(--default-color), transparent 90%);
  padding: 30px;
}

@media (max-width: 575px) {
  .contact .info-wrap {
    padding: 20px;
  }
}

.contact .info-item {
  margin-bottom: 40px;
}

.contact .info-item i {
  font-size: 20px;
  color: var(--accent-color);
  background: color-mix(in srgb, var(--accent-color), transparent 92%);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .info-item h3 {
  font-size: 20px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i {
  background: var(--accent-color);
  color: var(--contrast-color);
}

.contact .getin-touch {
  font-size: 3vw;
  font-weight: bold;
  width: 30vw;
  margin-left: 5vw;

  margin-top: 6vw;

}

.contact .getin-touch .mail {
  color: #4169E1;

}

.contact .getin-touch .links {
  color: #ff004f;
}


@media (max-width: 600px) {

  .contact .getin-touch {
    font-size: 6vw;
    font-weight: bold;
    width: 50vw;
    margin-left: 7vw;
    margin-top: 4vw;

  }

  .contact .getin-touch .mail {
    color: #4169E1;

  }

  .contact .getin-touch .links {
    color: #ff004f;
  }


}

@media(max-width: 768px) {

  .contact .getin-touch {
    font-size: 8vw;
    font-weight: bold;
    width: 70vw;

    margin-top: 6vw;

  }

  .contact .getin-touch .mail {
    color: #4169E1;

  }

  .contact .getin-touch .links {
    color: #ff004f;
  }


}







@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}