* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;;
  color: #fff;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(Images/bgimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  padding: 0.65vw 5%;
}

/*********************Start of navbar***************************************************/

.nav {
  display: flex;
  padding: 1vw;
  align-items: center;
}

#menu {
  padding: 0 24.5vw;
}

.logo {
  font-size: 1.6vw;
  font-family: "Pacifico", cursive;
  width: 8vw;
}

.li {
  display: flex;  
  flex-direction: row;
  gap: 3vw;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25vw;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .fa-solid {
  display: none;
}

.socialmedia{
  display: flex;
margin-left: -10vw;
gap: 2vw;
}
.socialmedia img{
  background-color: white;
  width: 1.5vw;
}

/*********************Start of Home section***************************************************/

.intro{
  display: flex;
  padding: 8vw;
}

.img{
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}

.image {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  border:0.4vw solid black;
  margin-left: 3vw;
}

.text{
  margin-top:6vw ;
  margin-left: 6.5vw;
}

.text .animate{
  display: flex;
  position: relative;
  transition: .3s all ease;
}
.animate span{
  font-size: 2.5vw;
  margin-top: 0.5vw;
  font-weight: bolder;
}

.animate ul  {
  list-style: none;
  font-size: 2.3vw;
  margin-left: 1vw;
  
}

.anime li{
  padding: 0 0.65vw;
  height: 2.92vw;
  margin-bottom: 2.92vw;
  display: block;
}


.animate div{
  overflow: hidden;
  position: relative;
  height: 5vw;
  margin-top: -0.65vw;
}

.anime{
  -webkit-animation: anime 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  animation: anime 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes anime{
  0%{
      margin-top: -23.4375vw;
  }
  5%{
    margin-top: -17.578125vw;
}
  25%{
  margin-top: -17.578125vw;
}
  30%{
  margin-top: -11.71875vw;
}
  50%{
  margin-top: -11.71875vw;
}
55%{
  margin-top: -5.859375vw;
}
75%{
  margin-top: -5.859375vw;
}
80%{
  margin-top: 0px;
}
99.99%{
  margin-top: 0px;
}
100%{
  margin-top: -17.578125vw;
}

}


.text p{
  margin-top: 0.4vw;
  font-size: 1.2vw;
  width: 60%;
  color: beige;
  line-height: 1.5;
  font-weight: 500;
}

.text p span{
  color: #ff004f;
}

.text div {
  font-size: 4.1vw;
  font-weight: bolder;
  margin-top: 0.65vw;
}

/********************Start of About section*************************************************/
#about {
  padding: 2vw 0;
}

#about p {
  font-size: 1.6vw;
  margin-top: 1.69vw;
  width: 50%;
  line-height: 1.5;
  color:white
}

/*********************************Start of Skills Section*****************************************************************/

#skills{
  padding: 6vw 0;
}
.icons{
  margin-top: 4vw;
  display: flex;
  gap: 1vw;
}

.icons .imgicon{
  width: 5vw;
  height: 4.5vw;
  background-color: aliceblue;
 border-radius: 4%;
 display: flex;
 justify-content: center;
 align-items: center;

}

.icons img{
width: 4vw;
height: 4vw;
}

/*********************Start of Portfolio section***************************************************/

#portfolio {
  padding: 2vw 0;
}

.title {
  font-weight: bolder;
  font-size: 3.25vw;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.27vw, 1fr));
  grid-gap: 2.60vw;
  margin-top: 2.60vw;
}

.project {
  border-radius: 0.65vw;
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
  height: 100%;
  border-radius: 0.65vw;
  display: block;
  transition: transform 0.5s;
}

.link {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 0.65vw;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2.60vw;
  text-align: center;
  font-size: 0.97vw;
  transition: height 0.5s;
}

.link h3 {
  font-weight: bold;
  margin-bottom: 0.1vw;
}

.link p{
  font-size: 1.3vw;
}

.link a {
  margin-top: 1.30vw;
  text-decoration: none;
  font-size: 1.17vw;
  background: white;
  width: 3.25vw;
  height: 3.25vw;
  border-radius: 50%;
}

.link a i {
  color: #ff004f;
  text-align: center;
  line-height: 3.25vw;
}

.link button {
  color: whitesmoke;
  margin-top: 1.30vw;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 8vw;
  padding: 0.6vw 2vw;
  border-radius: 5%;
  font-size: 0.75vw;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover .link {
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: black;
   margin: 15% auto; 
  padding: 1.30vw;
  border: 1px solid #888;
  width: 60%; 
  height: auto;
}

.modal-content p{
  line-height: 2vw;
}

/* The Close Button */
.close1 {
  color: whitesmoke;
  float: right;
  font-size: 1.82vw;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color:beige;
  text-decoration: none;
  cursor: pointer;
}

.close2 {
  color: whitesmoke;
  float: right;
  font-size: 1.82vw;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color:beige;
  text-decoration: none;
  cursor: pointer;
}

.close3 {
  color: whitesmoke;
  float: right;
  font-size: 1.82vw;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color:beige;
  text-decoration: none;
  cursor: pointer;
}

.close4 {
  color: whitesmoke;
  float: right;
  font-size: 1.82vw;
  font-weight: bold;
}

.close4:hover,
.close4:focus {
  color:beige;
  text-decoration: none;
  cursor: pointer;
}



/*********************Start of contact section***************************************************/

.row {
  display: flex;
  margin-top: 10vw;
}

.right {
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  flex-basis: 35%;
}

.left p i {
  margin-top: 0.65vw;
  margin-right:0.65vw;
  font-size: 1.62vw;
}

.left div i {
  margin-top: 0.65vw;
  margin-right: 0.65vw;
  font-size: 1.62vw;
}

.sub-title {
  font-size: 3.25vw;
  font-weight: bolder;
  margin-top: 1.95vw;
}

form input,
form textarea {
  width: 100%;
  color: white;
  border: 0;
  outline: none;
  background: black;
  border-radius: 9px;
  padding: 15px;
  margin: 12px 0;
  font-size: 16px;
}

.right form {
  width: 100%;
}

form .btn {
  padding: 14px 60px;
  font-size: 1.04vw;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 9px;
  color: black;
  background:white;
}

/****************************Portfolio for smaller screen*************************************************/

@media only screen and (max-width: 600px) {
  body {
    background-image: url(Images/bgmobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    height: auto;
  }
  .nav {
    display: block;
    padding: 2.5vw;
  }
  .logo {
    font-size: 5vw;
    font-family: "Pacifico", cursive;
    width: 25vw;
  }

  .menuicon{
    display: block;
    font-size: 20px;
    float: right;
    margin-top: -7vw;
  }
  
  .menuicon i {
    display: block;
    font-size: 20px;
    float: right;
   font-size: 5vw;
  }

  nav ul {
    background: #4b4b4b;
    position: fixed;
    top: 0;
    right: -65vw;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

 nav ul .fa-solid {
    display: block;
    position: absolute;
    top: 6vw;
    left: 9vw;
    cursor: pointer;
    font-size: 5vw;
  }

   .li{
    margin-top: 16vw;
    margin-left: -15vw;
    display: flex;
    flex-direction: column;
    gap: 8vw;
  }

  .socialmedia{
    display: none;
  }

  .intro{
    display: flex;
    padding: 6vw;
    width: 100%;
  }
  
  .img{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
  
  .image {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    border:0.4vw solid black;
    margin-left: 1vw;
  }
  
  .text{
    margin-top:7vw ;
    width: 100%;
  }

  .text .animate{
  display: flex;
  position: relative;
  transition: .3s all ease;
}
.animate span{
  font-size: 2.5vw;
  margin-top: 0.5vw;
  font-weight: bolder;
}

.animate ul  {
  list-style: none;
  font-size: 2.3vw;
  margin-left: 1vw;
  
}

.anime li{
  padding: 0 0.65vw;
  height: 2.92vw;
  margin-bottom: 2.92vw;
  display: block;
}


.animate div{
  overflow: hidden;
  position: relative;
  height: 5vw;
  margin-top: -0.65vw;
}

.anime{
  -webkit-animation: anime 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  animation: anime 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes anime{
  0%{
      margin-top: -23.4375vw;
  }
  5%{
    margin-top: -17.578125vw;
}
  25%{
  margin-top: -17.578125vw;
}
  30%{
  margin-top: -11.71875vw;
}
  50%{
  margin-top: -11.71875vw;
}
55%{
  margin-top: -5.859375vw;
}
75%{
  margin-top: -5.859375vw;
}
80%{
  margin-top: 0px;
}
99.99%{
  margin-top: 0px;
}
100%{
  margin-top: -17.578125vw;
}

}
  .text h2 {
    font-size: 4vw;
    width:100% ;
  }
  
  .text div {
    font-size: 4.8vw;
    font-weight: bolder;
    margin-top: 1vw;
    width: 100%;
  }

  .text p{
   display: none;
  }
  

  #about {
    padding: 4.75vw 0;
  }
  
  #about p {
    font-size: 2.8vw;
    margin-top: 1.69vw;
    width: 100%;
    line-height: 1.5;
    color:beige;
  }

  .links {
    margin-right: 3.25vw;
    font-size: 1.6vw;
    font-weight: 600;
    cursor: pointer;
    position: relative;
  }

  .links.active-link::after {
    width: 20%;
  }
  
  .content ul li {
    margin-top: 1.5vw;
    font-weight: bold;
    font-size: 2.5vw;
    
  }
  
  .content ul li span {
    color: bisque;
    font-size: 2.5vw;
  }
  
  .cgpa{
    margin-left: 1vw;}
  
  .content {
    display: none;
  }
  
  .content.active-content {
    display: block;
  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(42.5vw, 1fr));
    grid-gap: 2.60vw;
    margin-top: 2.60vw;
  }
  
  .project {
    border-radius: 0.65vw;
    position: relative;
    overflow: hidden;
  }
  
  .project img {
    width: 100%;
    height: 100%;
    border-radius: 0.65vw;
    display: block;
    transition: transform 0.5s;
  }
  
  .link {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 0.65vw;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2.60vw;
    text-align: center;
    font-size: 3.5vw;
    transition: height 0.5s;
  }

  .link a {
    margin-top: 1.30vw;
    text-decoration: none;
    font-size: 1.17vw;
    background: white;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
  }
  
  .link a i {
    color: #ff004f;
    text-align: center;
    line-height: 9vw;
    font-size:4vw ;
  }
  
  
  .link button {
    color: whitesmoke;
    margin-top: 1.30vw;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 30vw;
    padding: 2vw 4vw;
    border-radius: 10%;
    font-size:3vw ;
  }
  
  .project:hover img {
    transform: scale(1.1);
  }
  
  .project:hover .link {
    height: 100%;
  }

  .link p{
    font-size: 3.5vw;
  }
  

  .close1 {
    color: whitesmoke;
    float: right;
    font-size: 5vw;
    font-weight: bold;
  }
  
  .close1:hover,
  .close1:focus {
    color:beige;
    text-decoration: none;
    cursor: pointer;
  }
  
  .close2 {
    color: whitesmoke;
    float: right;
    font-size: 5vw;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color:beige;
    text-decoration: none;
    cursor: pointer;
  }
  
  .close3 {
    color: whitesmoke;
    float: right;
    font-size: 5vw;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    color:beige;
    text-decoration: none;
    cursor: pointer;
  }
  
  .close4 {
    color: whitesmoke;
    float: right;
    font-size: 5vw;
    font-weight: bold;
  }
  
  .close4:hover,
  .close4:focus {
    color:beige;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content {
    background-color: black;
     margin: 15% auto; 
    padding: 1.30vw;
    border: 1px solid #888;
    width: 90%; 
    height: auto;
  }

  .modal-content p{
    line-height: 7vw;
    width: 100%; 
  }

  .title {
    font-weight: bolder;
    font-size: 9vw;
  }

  .sub-title {
    font-size: 9vw;
    font-weight: bolder;
    margin-top: 10vw;
  }

  .left,
  .right {
    flex-basis: 100%;
  }

  .right {
    margin-top: 20px;
  }

  .row {
    display: block;
  }
  .left div i {
    margin-top: 3vw;
    margin-right: 0.65vw;
    font-size: 5vw;
  }

  .left p i {
    margin-top: 3vw;
    margin-right:0.65vw;
    font-size: 5vw;
  }

  form input,
  form textarea {
    width: 90%;
    color: white;
    border: 0;
    outline: none;
    background: black;
    border-radius: 9px;
    padding: 15px;
    margin: 12px 0;
    font-size: 16px;
  }

  form .btn {
    padding: 14px 60px;
    font-size: 2.9vw;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 9px;
    color: black;
    background: white
  }
 
}
